.create,
.edit {
  position: fixed;
  left: 50%;
  top: 40%;
  z-index: 5;
  overflow: hidden;
  margin: auto;
  border: 1px solid rgb(182, 173, 173);
  border-radius: 10px;
  width: 33%;
  min-width: 300px;
  background-color: #fff;
  transform: translateX(-50%) translateY(-50%);
}

.create {
  display: block;
}

.edit {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 3;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.create__header {
  height: 34px;
  text-align: left;
  background-color: rgb(182, 173, 173);
}

.create__back {
  max-width: 124px;
}

.create__back > button {
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}

.create__back > button:hover {
  text-decoration: none;
}

.create__form-title {
  padding-left: 3%;
  line-height: 34px;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
}

.create__form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.contacts__form-input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
}

.wrapper > button {
  align-self: flex-end;
  margin-top: 0;
}
