/* Header */

@import url('./Components/header.css');

/* Persone */

@import url('./Components/person.css');

/* Button add / save */

@import url('./Components/button.css');

/* Create-form / edit-form */

@import url('./Components/create.css');

/* Media */

@media (max-width: 1100px) {
  .header__name {
    margin-left: 10%;
  }

  .header__surname {
    margin-left: 30%;
  }
}

@media (max-width: 780px) {
  .header__name {
    margin-left: 10.5%;
  }

  .header__surname {
    margin-left: 29%;
  }
}

@media (max-width: 600px) {
  .header__name {
    margin-left: 11.5%;
  }

  .header__surname {
    margin-left: 28%;
  }
}

@media (max-width: 540px) {
  .person__name,
  .person__surname {
    font-size: 0.9em;
  }

  .person__rename {
    margin: 2px 10px 0 10px;
    font-size: 1.8em;
  }

  .person__delete {
    margin-right: 15px;
    font-size: 1.8em;
  }
}

@media (max-width: 480px) {
  .header__name {
    margin-left: 12.5%;
  }

  .header__surname {
    margin-left: 26%;
  }
}

@media (max-width: 420px) {
  .header__name {
    margin-left: 13%;
  }

  .header__surname {
    margin-left: 25.5%;
  }
  .fa-user-circle {
    margin-left: 8px;
  }

  .person__name,
  .person__surname {
    font-size: 0.8em;
  }
}

@media (max-width: 376px) {
  .header__name {
    margin-left: 14%;
  }

  .header__surname {
    margin-left: 21%;
  }
  .fa-user-circle {
    margin-left: 8px;
  }

  .person__name,
  .person__surname {
    font-size: 0.8em;
  }
  .person__name {
    width: 31%;
  }
}

@media (max-width: 351px) {
  body {
    font-size: 15px;
    line-height: 18px;
  }

  .button-add {
    padding: 6px;
    font-size: 15px;
  }

  .create__back > button {
    font-size: 15px;
  }
}
